<div class="dashboard">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link" (click)="setDateRange('7')" [ngClass]="this.dateRange == '7' ? 'active' : ''" href="#">
        Last<br />7 Days
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="setDateRange('30')" [ngClass]="this.dateRange == '30' ? 'active' : ''" href="#">
        Last<br />30 Days
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="setDateRange('M')" [ngClass]="this.dateRange == 'M' ? 'active' : ''" href="#">
        This<br />Month
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="setDateRange('Q')" [ngClass]="this.dateRange == 'Q' ? 'active' : ''" href="#">
        This<br />Quarter
      </a>
    </li>
  </ul>

  <app-dashboard-chart [dateRange]="dateRange" ></app-dashboard-chart>
</div>

